In [21]:
import pandas as pd
import numpy as np

In [3]:
dados = pd.read_csv('credit_data.csv')

In [5]:
dados.isnull().sum()

i#clientid    0
income        0
age           3
loan          0
c#default     0
dtype: int64

In [17]:
nulos = dados[dados.isnull().any(axis = 1)] ## Axis = 1 por linha Axis = 0 por coluna
nulos

    i#clientid        income  age         loan  c#default
28          29  59417.805406  NaN  2082.625938          0
30          31  48528.852796  NaN  6155.784670          0
31          32  23526.302555  NaN  2862.010139          0

In [29]:
# Substituir pela m√©dia
dados.iloc[:, 2] = dados.iloc[:, 2].replace(to_replace = np.nan, value = dados.iloc[:, 2].mean())

In [37]:
dados.isnull().sum()

i#clientid    0
income        0
age           0
loan          0
c#default     0
dtype: int64